<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/sweetalert2.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>


<script src="/static/js/plugins/dataTables/datatables.min.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

    });

    //表单验证
    function addCheck(){
        if($("#type_pid").val() == ''){
            sweetAlert(
                '父级分类不能为空',
                '',
                'error'
            );
            return false;
        }else if ($("#type_name").val() == '') {
            sweetAlert(
                '分类标题不能为空',
                '',
                'error'
            );
            return false;
        }else{
            if ($("#type_url").val() == "") {
                sweetAlert(
                    '链接不能为空',
                    '',
                    'error'
                );
                return false;
            } else if ($("#type_icon").val() == "" && $("#type_pid").val() == 0) {
                sweetAlert(
                    'Icon不能为空',
                    '',
                    'error'
                );
                return false;//不写此返回值也行，此时就直接提交了
            }else{
                return true;
            }
        }
    }
</script>
</body>

</html>