{{template "admin/header.html" .}}

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">AXI</h1>
            </div>
            <h3>Welcome to AXICOO</h3>
            <form class="m-t" role="form">
                <div class="form-group">
                    <input id="name" type="text" class="form-control" name="username" placeholder="输入用户名" required="">
                </div>
                <div class="form-group">
                    <input id="pwd" type="password" class="form-control" name="password" placeholder="输入密码" required="">
                </div>
            </form>
                <a class="btn btn-primary block full-width m-b" onclick="submint();" style="color: #FFFFFF">登录</a>
                <a href="#"><small>忘记密码?</small></a>
            <br>
            <br>
            <br>
            <p class="m-t"> <small>www.axicoo.com &copy; 2019</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="static/js/sweetalert.min.js"></script>
    <script>
        function submint() {
            uname = $("#name").val();
            pwd = $("#pwd").val();
            if (uname && pwd) {
                    $.ajax({
                        type : "post",
                        //async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                        url : "/login",    //请求发送到TestServlet处
                        data : {username:uname,password:pwd},
                        dataType : "json",        //返回数据形式为json
                        success : function(res) {
                            if (res.Status) {
                                location.href = "/admin/home";
                            } else {
                                swal(res.Msg, "", "error");
                            }
                        },
                        error : function(errorMsg) {
                            //请求失败时执行该函数
                            swal("请求失败", "", "error");
                            myChart.hideLoading();
                        }
                });
            } else {
                swal("用户名或密码为空!", "", "info");
            }
        }
    </script>
    {{template "admin/footer.html" .}}
