{{template "personal/index-head.html" .}}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>文章列表</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/personal">个人中心</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>文章管理</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input id="search-id" placeholder="输入文章标题关键字..." type="text" class="form-control form-control-sm" value="{{ .str }}">
                            <span class="input-group-append">
                                <button onclick="searchJump()" type="button" class="btn btn-sm btn-primary">搜索文章</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>类型</th>
                            <th>审核状态</th>
                            <th>发布状态</th>
                            <th>创建时间</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .article_list}}
                            <tr>
                                <td>{{ .Id }}</td>
                                <td>{{ .Title }}</td>
                                <td>{{ .Type.TName }}</td>
                                {{if eq .Review 0}}
                                    <td>待审核</td>
                                {{else if eq .Review 1}}
                                    <td>通过</td>
                                {{else}}
                                    <td>拒绝</td>
                                {{end}}
                                {{if eq .Status 0 }}
                                    <td>已下架</td>
                                {{else}}
                                    <td>已上架</td>
                                {{end}}
                                <td>{{ .Created }}</td>
                                <td>{{ .Cause }}</td>
                                <td>
                                    <button onclick="editArticle({{ .Id }})" type="button" class="btn btn-outline btn-primary">编辑</button>
                                    {{if eq .Review 1}}
                                        {{if eq .Status 0 }}
                                            <button onclick="artilceStatus({{ .Id }}, '上架')" type="button" class="btn btn-outline btn-success">上架</button>
                                        {{else}}
                                            <button onclick="artilceStatus({{ .Id }}, '下架')" type="button" class="btn btn-outline btn-success">下架</button>
                                        {{end}}
                                    {{end}}
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>


{{template "personal/index-footer.html" .}}