{{template "personal/index-head.html" .}}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加文章</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/personal">个人中心</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>添加文章</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools"></div>
                </div>
                <div class="ibox-content">
                    <!--<form method="post" action=""    enctype="multipart/form-data">-->
                        <div class="form-group  row"><label class="col-sm-2 col-form-label"><font style="color: red">*</font> 文章标题</label>
                            <div class="col-sm-10"><input id="article-title" type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">文章描述</label>
                            <div class="col-sm-10"><input id="article-desc" type="text" class="form-control"> <span class="form-text m-b-none">填写文章简要描述</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label"><font style="color: red">*</font> 文章类型</label>

                            <div class="col-sm-10">
                                <select id="article-select" class="form-control m-b" name="account">
                                    {{range .a_types}}
                                        <option value="{{ .Id }}">{{ .TName }}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label"><font style="color: red">*</font> 文章标签 <br/><small class="text-navy">可多选</small></label>

                            <div class="col-sm-10">
                                {{range .a_tags}}
                                <div class="i-checks">
                                    <label>
                                        <input name="tags" type="checkbox" value="{{ .Id }}">
                                        <i></i> {{ .TagName }}
                                    </label>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label"><font style="color: red">*</font> 文章主图 </label>
                            <div class="col-sm-10">
                                <div id="dropz" class="dropzone"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label"><font style="color: red">*</font> 文章内容 </label>
                            <div class="col-sm-10">
                                <div class="ibox-content no-padding">
                                    <div id="summernote"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white btn-sm" type="submit">重置</button>
                                <button id="push-article" class="btn btn-primary btn-sm" type="submit">提交</button>
                            </div>
                        </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="img-name" >

{{template "personal/index-footer.html" .}}