{{template "home/header.html" .}}
			<section id="hero" class="light-typo">
				<div id="cover-image" class="image-bg3 animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						<h1>Sorry, this page isn't available</h1>
						<h2>Back to Home page or look to Sitemap</h2>
						<a class="btn" href="/">回到首页</a><br>
					</div>
				</div>
			</section>

			<div class="container content">
				<div class="post-popular">
					<div class="row hidden-xs">
						{{range  .hot}}
							<div class="col-sm-4 col-md-4">
								<a href="/detail/{{ .Id }}"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
								<h4 class="text-center"><a href="/detail/{{ .Id }}">{{ .Title}}</a></h4>
								<p class="post-date text-center">{{ .Created }}</p>
							</div>
						{{end}}
					</div>
				</div>
			</div>
{{template "home/footer.html" .}}