{{template "home/header.html" .}}
			<section id="hero" class="light-typo">
				<div id="cover-image" class="image-bg3 animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						<h1>关于BigLight</h1>
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								<li class="active">关于</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			
			<div class="container content">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">

							<div class="col-sm-9 col-md-8 ">
								<div class="post-intro">{{str2html .abouts.Content}}</div>
							</div>
							<div class="col-sm-3 col-md-4">	
								<img src="{{ .abouts.Img }}" class="img-responsive img-circle about-portrait" alt="" width="300" height="300">
								<ul class="social-links outline text-center">
									<li><a href="http://v.t.sina.com.cn/share/share.php?url=http://www.axicoo.com/detail/{{ .Id }}&title='{{ .Title }}'" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
									<li><a href="http://v.t.qq.com/share/share.php?url=http://www.axicoo.com/detail/{{ .Id }}&title='{{ .Title }}'" target="_blank"><i class="fa fa-tencent-weibo" aria-hidden="true"></i></a></li>
									<li><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.axicoo.com/detail/{{ .Id }}" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>

					<div class="post-popular">
							<div class="row hidden-xs">
								{{range  .hot}}
									<div class="col-sm-4 col-md-4">
										<a href="/detail/{{ .Id }}"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
										<h4 class="text-center"><a href="/detail/{{ .Id }}">{{ .Title}}</a></h4>
										<p class="post-date text-center">{{ .Created }}</p>
									</div>
								{{end}}
							</div>
					</div>
				</div>
				</div>
				</div>
{{template "home/footer.html" .}}