{{template "home/header.html" .}}
            {{range .client_user}}
			<section id="hero" class="light-typo">
				<div class="container welcome-content">
					<div class="middle-text">
						<img class="bordered img-circle" alt="" src="{{ .HeadImg.ImgUrl }}" height="96" width="96">
						<h2><b>{{ .Username }}</b></h2>
						<p>{{ .Motto }}</p>
					 	<ul class="social-links outline-white">
							<li><a href="#link"><i class="icon-twitter"></i></a></li>
							<li><a href="#link"><i class="icon-facebook"></i></a></li>
							<li><a href="#link"><i class="icon-googleplus"></i></a></li>
						</ul>
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								<li><a href="#">作者</a></li>
								<li class="active">{{ .Username }}</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
            {{end}}
			<div id="start" class="container content">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						{{range .articles}}
							<article class="clearfix">
								<div class="post-date">
									{{ .Created }} | <a href="/author/{{ .Client.Id }}/1">{{ .Client.Username }} </a> <span><a href="">{{ .CommentNum }} 条评论</a></span>
								</div>
								<h2><a href="/detail/{{ .Id }}">{{ .Title }}</a></h2>
								<p style="word-break: break-all;">{{ .Content }} ...&nbsp;<a class="" href="/detail/{{ .Id }}">阅读更多</a></p>
							</article>
						{{else}}
							<h2>暂无文章,快去添加吧...</h2>
							<br>
						{{end}}
						<div class="post-popular">
                            <div class="row hidden-xs">
                                {{range  .hot}}
                                    <div class="col-sm-4 col-md-4">
                                        <a href="post-video.html"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
                                        <h4 class="text-center"><a href="post-video.html">{{ .Title}}</a></h4>
                                        <p class="post-date text-center">{{ .Created }}</p>
                                    </div>
                                {{end}}
                            </div>
						</div>
						{{if gt .total 1.0}}
							<div class="paging clearfix">
								{{if gt .previous_page 0}}
									<a class="btn pull-left" href="/author/{{ .cid }}/{{ .previous_page }}"><i class="icon-arrow-left2 left"></i><span>上一页</span></a>
								{{end}}
								{{if lt .current_page .total}}
									<a class="btn pull-right" href="/author/{{ .cid }}/{{ .next_page }}"><span class="hidden-xs"> 下一页</span><i class="icon-arrow-right2 right"></i></a>
								{{end}}
							</div>
						{{end}}

					</div>	
				</div><!-- end row -->
			</div>
{{template "home/footer.html" .}}