{{template "home/header.html" .}}
            {{range .client_user}}
			<section id="hero" class="light-typo">
				<div class="container welcome-content">
					<div class="middle-text">
						<img class="bordered img-circle" alt="" src="{{ .HeadImg.ImgUrl }}" height="96" width="96">
						<h2><b>{{ .Username }}</b></h2>
						<p>{{ .Motto }}</p>
					 	<ul class="social-links outline-white">
							<li><a href="#link"><i class="icon-twitter"></i></a></li>
							<li><a href="#link"><i class="icon-facebook"></i></a></li>
							<li><a href="#link"><i class="icon-googleplus"></i></a></li>
						</ul>
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								<li><a href="#">作者</a></li>
								<li class="active">{{ .Username }}</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
            {{end}}
			<div id="start" class="container content">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						{{range .articles}}
							<article class="clearfix">
								<div class="post-date">
									{{ .Created }} | <a href="/author/{{ .Client.Id }}">{{ .Client.Username }} </a> <span><a href="">{{ .CommentNum }} 条评论</a></span>
								</div>
								<h2><a href="/detail/{{ .Id }}">{{ .Title }}</a></h2>
								<p style="word-break: break-all;">{{ .Content }} ...&nbsp;<a class="" href="/detail/{{ .Id }}">阅读更多</a></p>
							</article>
						{{end}}
						<div class="post-popular">
                            <div class="row hidden-xs">
                                {{range  .hot}}
                                    <div class="col-sm-4 col-md-4">
                                        <a href="post-video.html"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
                                        <h4 class="text-center"><a href="post-video.html">{{ .Title}}</a></h4>
                                        <p class="post-date text-center">{{ .Created }}</p>
                                    </div>
                                {{end}}
                            </div>
							<div class="row visible-xs">
								<div class="col-sm-12">
									<div class="media">
										<a class="pull-left" href="post-video.html"><img class="media-object" src="img/img2.jpg" width="100" alt=""></a>
										<div class="media-body">
											<h4 class="media-heading"><a href="post-video.html">But I've never been to the moon!</a></h4>
											<p class="post-date">may 10, 2014</p>
										</div>
									</div>
									<div class="media">
										<a class="pull-left" href="post-typography.html"><img class="media-object" src="img/img1.jpg" width="100" alt=""></a>
										<div class="media-body">
											<h4 class="media-heading"><a href="post-typography.html">We don't have a brig</a></h4>
											<p class="post-date">september 27, 2014</p>
										</div>
									</div>
									<div class="media">
										<a class="pull-left" href="post-image.html"><img class="media-object" src="img/img3.jpg" width="100" alt=""></a>
										<div class="media-body">
											<h4 class="media-heading"><a href="post-image.html">Every other day it's food, food, food.</a></h4>
											<p class="post-date">april 2, 2014</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>


					</div>	
				</div><!-- end row -->
			</div>
{{template "home/footer.html" .}}