{{template "home/header.html" .}}
			<section id="hero" class="light-typo googleMap" >
				<div id="cover-image" class="image-bg2 animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						<h1>留言反馈</h1>
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								<li class="active">联系</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<div class="contact container content">
				<header class="section-header">
					<h1>留言及反馈</h1>
					<p>欢迎您来到我的博客,有什么想对我说的,请在下方留言,我收到后,会第一时间回复您,祝您生活愉快!</p>
				</header>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 contact-info cta-message wow fadeInLeft">
								<div class="row clearfix">
									<div class="col-xs-12 col-sm-6 col-md-6">
										<div class="form-group">
											<div class="controls">
												<input id="contactName" name="contactName" placeholder="输入您的名字" class="form-control input-lg requiredField" type="text" data-error-empty="名字不能为空">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
										<div class="form-group">
											<div class=" controls">
												<input id="contactEmail" name="email" placeholder="输入您的邮箱" class="form-control input-lg requiredField" type="email" data-error-invalid="邮箱格式不正确" data-error-empty="邮箱不能为空">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="contact-message">Message</label>
									<div class="controls">
										<textarea id="ontactComments" name="comments" class="form-control input-lg requiredField" rows="5" ></textarea>
									</div>
								</div>
								<p>
									<button onclick="pushFeedBack()" name="submit" type="submit" class="btn btn-store btn-block">发送</button>
								</p>
								<input type="hidden" name="submitted" id="submitted3" value="true">
							</div>
						</div>
					</div>
{{template "home/footer.html" .}}