{{template "home/header.html" .}}
			<section id="hero" class="light-typo">
				<div id="cover-image" class="image-bg2 animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						{{range .article}}
						<h1>{{ .Title }}</h1>
						<h2>{{ .Type.TName }}</h2>
						{{end}}
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								{{range .article}}
								<li><a href="#">{{ .Type.TName }}</a></li>
								<li class="active">{{ .Title }}</li>
								{{end}}
							</ol>
						</div>
					</div>
				</div>
			</section>

			<div class="container content">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							{{range .article}}
							<div class="post-date">
								{{ .Created }} | <a href="/author/{{ .Client.Id }}">{{ .Client.Username }} </a> <span>
									{{if gt $.num 0}}
										<a href="#comment">{{ $.num }} 条评论</a>
									{{else}}
										<a href="">暂无评论</a>
									{{end}}
								</span>
							</div>
							<div class="post-intro" style="word-break: break-all;">{{ .Content }}</div>

							<div class="post-date">
								标签 |
								{{range $k, $v := $.tags}}
								<a href="">{{ $v }}</a> &nbsp;
								{{end}}
							</div>
								<ul class="social-links outline text-center">
									<li><a href="#link"><i class="icon-twitter"></i></a></li>
									<li><a href="#link"><i class="icon-facebook"></i></a></li>
									<li><a href="#link"><i class="icon-googleplus"></i></a></li>
								</ul>
							<div id="author" class="clearfix">
								<img class="img-circle" alt="" src="{{ .Client.HeadImg.ImgUrl }}" height="96" width="96">
								<div class="author-info">
									<a href="/author/{{ .Client.Id }}"><h3>{{ .Client.Username }}</h3></a>
									<p>{{ .Client.Motto }}</p>
								</div>
							</div>
							{{end}}
							<div class="post-popular">
								<div class="row hidden-xs">
									{{range  .hot}}
										<div class="col-sm-4 col-md-4">
												<a href="/detail/{{ .Id }}"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
											<h4 class="text-center"><a href="/detail/{{ .Id }}">{{ .Title}}</a></h4>
											<p class="post-date text-center">{{ .Created }}</p>
										</div>
									{{end}}
								</div>
								<div class="row visible-xs">
									<div class="col-sm-12">
										<div class="media">
											<a class="pull-left" href="post-video.html"><img class="media-object" src="img/img2.jpg" width="100" alt=""></a>
											<div class="media-body">
												<h4 class="media-heading"><a href="post-video.html">But I've never been to the moon!</a></h4>
												<p class="post-date">may 10, 2014</p>
											</div>
										</div>
										<div class="media">
											<a class="pull-left" href="post-typography.html"><img class="media-object" src="img/img1.jpg" width="100" alt=""></a>
											<div class="media-body">
												<h4 class="media-heading"><a href="post-typography.html">We don't have a brig</a></h4>
												<p class="post-date">september 27, 2014</p>
											</div>
										</div>
										<div class="media">
											<a class="pull-left" href="post-image.html"><img class="media-object" src="img/img3.jpg" width="100" alt=""></a>
											<div class="media-body">
												<h4 class="media-heading"><a href="post-image.html">Every other day it's food, food, food.</a></h4>
												<p class="post-date">april 2, 2014</p>
											</div>
										</div>

									</div>
								</div>
							</div>
							{{if gt .num 0}}
								<h3>{{ .num }} 条评论</h3>
							{{else}}
								<h3>暂无评论</h3>
							{{end}}
							<div id="comment" class="media">
								<hr>
								{{range .comment}}
								<div class="media">
										<a class="pull-left avatar" href="/author/{{ .Client.Id }}">
										  <img class="media-object img-circle" src="{{ .Client.HeadImg.ImgUrl }}" width="40" height="40" alt="">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="/author/{{ .Client.Id }}">{{ .Client.Username }}</a><span>{{ .Created }}</span></h4>
											<p>{{ .Content }}</p>
										</div>
								</div>
								{{else}}

								{{end}}
							</div>

<!-- 						<div id="comments_pagination">
								<span class="page-numbers current">1</span>
								<a class="page-numbers" href="#">2</a>
								<a class="next page-numbers" href="#"><i class="icon-arrow-right2"></i></a>
							</div>
-->
							<h3>添加评论</h3>
							<form action="index.html" method="post" novalidate class="myform" id="mycomment">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" >
										<div class="form-group">
											<label class="control-label" for="contact-message">Join the discussion...</label>
											<div class="controls">
												<textarea name="comments" placeholder="Join the discussion..." class="form-control input-lg requiredField" rows="3" data-error-empty="Please enter comment"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6">
												<div class="form-group">
													<label class="control-label">Name</label>
													<div class="controls">
														<input name="contactName" placeholder="Name" class="form-control input-lg requiredField " type="text" data-error-empty="Please enter name">
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<div class="form-group">
													<label class="control-label" for="contact-mail">Email</label>
													<div class=" controls">
														<input name="email" placeholder="Email" class="form-control input-lg requiredField" type="email" data-error-empty="Please enter email" data-error-invalid="Invalid email address">
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6">
												<div class="form-group">
													<label class="control-label">Website</label>
													<div class="controls">
														<input name="contactName" placeholder="Website" class="form-control input-lg " type="text">
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6">
												<div class="form-group">
													<button name="submit" type="submit" class="btn btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Comment Sent">Send Comment</button>
													<input type="hidden" name="submitted" id="submitted3" value="true">
												</div>
											</div>
										</div>


									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
{{template "home/footer.html" .}}