{{template "home/header.html" .}}
			<section id="hero" class="light-typo">
				<div id="cover-image" class="image-bg2 animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						{{range .article}}
						<h1>{{ .Title }}</h1>
						<h2>{{ .Type.TName }}</h2>
						{{end}}
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								{{range .article}}
								<li><a href="#">{{ .Type.TName }}</a></li>
								<li class="active">{{ .Title }}</li>
								{{end}}
							</ol>
						</div>
					</div>
				</div>
			</section>

			<div class="container content">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							{{range .article}}
							<div class="post-date">
								{{ .Created }} | <a href="/author/{{ .Client.Id }}/1">{{ .Client.Username }} </a> <span>
									{{if gt $.num 0}}
										<a href="#comment">{{ $.num }} 条评论</a>
									{{else}}
										<a href="">暂无评论</a>
									{{end}}
								</span>
							</div>
							<div class="post-intro" style="word-break: break-all;">{{ .Content }}</div>

							<div class="post-date">
								标签 |
								{{range $k, $v := $.tags}}
								<a href="/home/search_tag/{{ $k }}">{{ $v }}</a> &nbsp;
								{{end}}
							</div>
								<ul class="social-links outline text-center">
									<li><a href="http://v.t.sina.com.cn/share/share.php?url=http://www.axicoo.com/detail/{{ .Id }}&title='{{ .Title }}'" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
									<li><a href="http://v.t.qq.com/share/share.php?url=http://www.axicoo.com/detail/{{ .Id }}&title='{{ .Title }}'" target="_blank"><i class="fa fa-tencent-weibo" aria-hidden="true"></i></a></li>
									<li><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.axicoo.com/detail/{{ .Id }}" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
								</ul>
							<div id="author" class="clearfix">
								<img class="img-circle" alt="" src="{{ .Client.HeadImg.ImgUrl }}" height="96" width="96">
								<div class="author-info">
									<a href="/author/{{ .Client.Id }}/1"><h3>{{ .Client.Username }}</h3></a>
									<p>{{ .Client.Motto }}</p>
								</div>
							</div>
							{{end}}
							<div class="post-popular">
								<div class="row hidden-xs">
									{{range  .hot}}
										<div class="col-sm-4 col-md-4">
												<a href="/detail/{{ .Id }}"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
											<h4 class="text-center"><a href="/detail/{{ .Id }}">{{ .Title}}</a></h4>
											<p class="post-date text-center">{{ .Created }}</p>
										</div>
									{{end}}
								</div>
							</div>
							{{if gt .num 0}}
								<h3>{{ .num }} 条评论</h3>
							{{else}}
								<h3>暂无评论</h3>
							{{end}}
							<div id="comment" class="media">
								<hr>
								{{range .comment}}
									{{if eq .IsReply 0}}
										<div class="media">
												<a class="pull-left avatar" href="/author/{{ .Client.Id }}/1">
												  <img class="media-object img-circle" src="{{ .Client.HeadImg.ImgUrl }}" width="40" height="40" alt="">
												</a>
												<div class="media-body">
													<h4 class="media-heading">
														<a href="/author/{{ .Client.Id }}/1">{{ .Client.Username }}</a>
														<span>{{ .Created }} | <a onclick="replyComment({{ .Path }}, {{ .Client.Username }})" >回复</a></span>
													</h4>
													<p>{{ .Content }}</p>
												</div>
										</div>
									{{ else }}
										<div class="media" style="padding-left: 3rem;">
											<a class="pull-left avatar" href="/author/{{ .Client.Id }}/1">
												<img class="media-object img-circle" src="{{ .Client.HeadImg.ImgUrl }}" width="40" height="40" alt="">
											</a>
											<div class="media-body">
												<h4 class="media-heading">
													<a href="/author/{{ .Client.Id }}/1">{{ .Client.Username }}</a>
													<span>{{ .Created }} | <a onclick="replyComment({{ .Path }}, {{ .Client.Username }})" >回复</a></span>
												</h4>
												<p>{{ .Content }}</p>
											</div>
										</div>
									{{end}}
								{{else}}

								{{end}}
							</div>

<!-- 						<div id="comments_pagination">
								<span class="page-numbers current">1</span>
								<a class="page-numbers" href="#">2</a>
								<a class="next page-numbers" href="#"><i class="icon-arrow-right2"></i></a>
							</div>
-->
							{{if .client_id}}
							<h3 id="comment-h3">添加评论</h3>
							<form action="/comment/add" method="post" novalidate class="myform" id="mycomment">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" >
										<div class="form-group">
											<label class="control-label" for="contact-message">撰写评论...</label>
											<div class="controls">
												<textarea id="comment_id" name="comments" placeholder="撰写评论..." class="form-control input-lg requiredField" rows="3" data-error-empty="评论不能为空..."></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="form-group">
													<button onclick="addComment();" name="submit" type="submit" class="btn btn-block" data-error-message="失败!" data-sending-message="提交中..." data-ok-message="提交成功">提交评论</button>
													<input type="hidden" name="submitted" id="submitted3" value="true">
													<input type="hidden" name="cid" value="{{ .c_id }}">
													<input id="comment-path" type="hidden" name="path" >
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							{{end}}
						</div>
					</div>
				</div>
{{template "home/footer.html" .}}