<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 footer-widget">
                    <h3>数据统计</h3>

                    <span>万石谷，粒粒积累；千丈布，根根织成。 </span>

                    <div class="stats">
                        <div class="line">
                            <span class="counter">{{ .footer_article }}</span>
                            <span class="caption">文章</span>
                        </div>
                        <div class="line">
                            <span class="counter">{{ .footer_comment }}</span>
                            <span class="caption">评论</span>
                        </div>
                        <div class="line">
                            <span class="counter">{{ .footer_client }}</span>
                            <span class="caption">作者</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-widget">
                    <h3>最新发布</h3>
                    <div class="post-recent-widget">
                        <div class="row">
                            <div class="col-sm-12">
                                {{range .footer_article_data}}
                                <div class="media">
                                    <a class="pull-left" href="/detail/{{ .Id }}"><img class="media-object" src="{{ .Picture }}" width="80" alt=""></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="/detail/{{ .Id }}">{{substr .Title 0 10}}</a></h4>
                                        <p class="post-date">{{ .Created }}</p>
                                    </div>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 footer-widget clearfix">
                    <h3>标签</h3>
                    <ul class="tags">
                        {{range .tag_all}}
                        <li><a href="/home/search_tag/{{ .Id }}">{{ .TagName }}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="pull-left">Designed by <a href="/">.BigLight|AXICOO.COM</a></p>
            <ul class="social-links pull-right">
                <li><a href="http://v.t.sina.com.cn/share/share.php?url=http://www.axicoo.com/detail/{{ .Id }}&title='{{ .Title }}'" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
                <li><a href="http://v.t.qq.com/share/share.php?url=http://www.axicoo.com/detail/{{ .Id }}&title='{{ .Title }}'" target="_blank"><i class="fa fa-tencent-weibo" aria-hidden="true"></i></a></li>
                <li><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.axicoo.com/detail/{{ .Id }}" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
</div>

<div class="modal fade login" id="loginModal" aria-hidden="true">
    <div class="modal-dialog login">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="form loginBox">
                        <div class="form-group">
                            <label class="control-label">邮箱</label>
                            <div class="controls">
                                <input id="email" class="form-control" type="text" placeholder="输入邮箱" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">密码</label>
                            <div class="controls">
                                <input id="password" class="form-control" type="password" placeholder="输入密码" name="password">
                            </div>
                        </div>
                        <p class="text-center"><a href="">忘记密码?</a></p>
                        <input class="btn btn-block" onclick="checkLogin()" type="submit" value="登录" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade login" id="loginModal1" aria-hidden="true">
    <div class="modal-dialog login">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="form loginBox">
                        <div class="form-group">
                            <label class="control-label">用户名</label>
                            <div class="controls">
                                <input id="uname_" class="form-control" type="text" placeholder="输入用户名" name="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">邮箱</label>
                            <div class="controls">
                                <input id="email_" class="form-control" type="text" placeholder="输入邮箱" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">手机号</label>
                            <div class="controls">
                                <input id="mobile" class="form-control" type="text" placeholder="手机号码" name="mobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">密码</label>
                            <div class="controls">
                                <input id="password_" class="form-control" type="password" placeholder="输入密码" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">确认密码</label>
                            <div class="controls">
                                <input id="password1_" class="form-control" type="password" placeholder="输入密码" name="password1">
                            </div>
                        </div>
                        <input class="btn btn-block" onclick="checkRegister()" type="submit" value="注册" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/sweetalert2.js"></script>
<script type="text/javascript" src="/home/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/home/js/placeholders.min.js"></script>
<script type="text/javascript" src="/home/js/wow.min.js"></script>
<script type="text/javascript" src="/home/js/custom.js"></script>
<script type="text/javascript" src="/home/js/ga.js"></script>
<script>
    $("#wrap").click(function(){
        $("#wrap").removeClass("menu-open");
    });
    //验证表单
    function checkLogin() {
        email = $('#email').val();
        pwd = $('#password').val();
        if (email == ""){
            sweetAlert(
                '邮箱不能为空',
                '',
                'error'
            );
        }else if(pwd == ""){
            sweetAlert(
                '密码不能为空',
                '',
                'error'
            );
        }else{
            $.ajax({
                type : "POST",
                url : "/home_login",    //请求发送到TestServlet处
                data : {'email':email,'pwd':pwd},
                dataType : "json",        //返回数据形式为json
                success : function(res) {
                    if (res.Status) {
                        swal(
                            res.Msg,
                            '',
                            'success'
                        );
                        setTimeout("location.reload()",1500);
                    } else {
                        swal(res.Msg, "", "error");
                    }
                }
            });
        }
    }

    function checkRegister() {
        uname = $('#uname_').val();
        email = $('#email_').val();
        mobile = $('#mobile').val();
        pwd = $('#password_').val();
        pwd_ = $('#password1_').val();
        if (email == ""){
            sweetAlert(
                '邮箱不能为空',
                '',
                'error'
            );
        } else if (uname == "") {
            sweetAlert(
                '用户名不能为空',
                '',
                'error'
            );
        } else if (pwd == "") {
            sweetAlert(
                '密码不能为空',
                '',
                'error'
            );
        } else if (pwd_ == "") {
            sweetAlert(
                '确认密码不能为空',
                '',
                'error'
            );
        }else if (mobile == "") {
            sweetAlert(
                '手机号码不能为空',
                '',
                'error'
            );
        } else if (pwd != pwd_) {
            sweetAlert(
                '两次密码相同',
                '',
                'error'
            );
        } else {
            $.ajax({
                type : "POST",
                url : "/home_register",    //请求发送到TestServlet处
                data : {'email':email,'uname':uname,'mobile':mobile,'pwd':pwd,'pwd_':pwd_,'id':sum(1,13)},
                dataType : "json",        //返回数据形式为json
                success : function(res) {
                    if (res.Status) {
                        swal(
                            res.Msg,
                            '',
                            'success'
                        );
                        setTimeout("location.reload()",1500);
                    } else {
                        swal(res.Msg, "", "error");
                    }
                }
            });
        }
    }

    function sum (m,n){
        var num = Math.floor(Math.random()*(m - n) + n);
        return num;
    }
    //提交评论
    function addComment() {
        id = $("#comment_id").val();
        if (id) {
            setTimeout(function (){
                window.location.reload();
            }, 500);
        }
    }
    //留言模块
    function pushFeedBack(){
        name_ = $("#contactName").val();
        email = $("#contactEmail").val();
        content = $("#ontactComments").val();

        $.ajax({
            type : "POST",
            url : "/leave/comments",    //请求发送到TestServlet处
            data : {name:name_,email:email,content:content},
            dataType : "json",        //返回数据形式为json
            success : function(res) {
                if (res.Status) {
                    swal(
                        res.Msg,
                        '',
                        'success'
                    );
                    setTimeout("location.reload()",2500);
                } else {
                    swal(res.Msg, "", "error");
                }
            }
        });
    }

    $(document).ready(function(){
        $("#home-search").keydown(function(e){
            var curKey = e.which;
            if(curKey == 13){
                str = $("#home-search").val();
                $("#home-search").click();
                if (str) {
                    window.location.href="/home/search/"+str;
                }
                return false;
            }
        });
    });

    function homeSearch2() {
        str = $("#home-search2").val();
        if (str) {
            window.location.href="/home/search/"+str;
        }
    }

    function replyComment(str,name) {
        $('#comment-path').val(str);
        $('#comment-h3').text('回复'+name+'的评论');
    }
    
    //收藏/喜欢文章
    function keep(id,status) {
        $.ajax({
            type : "POST",
            url : "/personal/like",    //请求发送到TestServlet处
            data : {id:id,status:status},
            dataType : "json",        //返回数据形式为json
            success : function(res) {
                if (res.Status) {
                    swal(
                        res.Msg,
                        '',
                        'success'
                    );
                    setTimeout("location.reload()",2500);
                } else {
                    swal(res.Msg, "", "error");
                }
            }
        });
    }

</script>
</body>
</html>