<!doctype html>
<html>
<head>
    <title>AXICOO | BLOG</title>
    <meta charset="utf-8">
    <meta name="description" content="Key Lime Responsive HTML5/CSS3 Template from angelostudio.net">
    <meta name="author" content="ANGELOSTUDIO.NET">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700%7CMerriweather:400,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/css/style.css">
    <link rel="stylesheet" href="/home/css/icons.css">
    <link rel="stylesheet" href="/home/css/animate.min.css">
    <link rel="shortcut icon" href="/home/img/ico/32.png" sizes="32x32" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="/home/img/ico/60.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/home/img/ico/72.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/home/img/ico/120.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/home/img/ico/152.png" type="image/png"/>
    <link href="/home/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/sweetalert2_.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .head-img {
            margin-top: .45rem;
            margin-right: 1%;
        }
        .clearfix:nth-last-of-type(1) {
            border-bottom: 0px !important;
        }
        .post-popular::before {
            content: '热门文章';
        }
        #author::before {
            content: '作者';
        }
    </style>
</head>
<body id="home">
<div id="menu" class="menu-right">
    <ul>
        <li>
            <form class="menu-search" method="get" action="/">
                <div class="form-group header">
                    <i class="icon-search searchico"></i>
                    <input id="home-search" type="text" placeholder="搜索文章">
                    <a href="#" class="close-menu"><i class="icon-close"></i></a>
                </div>
            </form>
        </li>
        {{if .client_id}}
            <li><a href="/personal"><i class="fa fa-user" aria-hidden="true"></i>个人中心</a></li>
            <li><a href="/about"><i class="fa fa-user" aria-hidden="true"></i>我的主页</a></li>
            <li><a href="index.html"><i class="fa fa-bookmark" aria-hidden="true"></i>收藏的文章</a></li>
            <li><a href="index.html"><i class="fa fa-heart" aria-hidden="true"></i>喜欢的文章</a></li>
        {{end}}
        {{range $k,$v := .menu}}
            {{if eq $v.Pid 0}}
                {{if eq $v.Dir 1}}
                    <li class="submenu">
                        <a href="#"><i class="fa fa-address-card-o" aria-hidden="true"></i>{{ $v.TName }}<b class="caret"></b></a>
                        <ul class="submenu-list">
                        {{range $m,$u := $.menu}}
                            {{if eq $u.Pid $v.Id}}
                            <li><a href="{{ $v.Url }}">{{ $u.TName }} <span class="badge golden">2</span></a></li>
                            {{end}}
                        {{end}}
                        </ul>
                    </li>
                {{else}}
                    <li><a href="{{ $v.Url }}"><i class="fa fa-address-card-o" aria-hidden="true"></i>{{ $v.TName }}</a></li>
                {{end}}
            {{end}}
        {{end}}
        {{if .client_id}}
            <li><a href="index.html"><i class="fa fa-cog" aria-hidden="true"></i>设置</a></li>
            <li><a href="index.html"><i class="fa fa-sign-out" aria-hidden="true"></i>退出</a></li>
        {{end}}

    </ul>
</div>
<div id="wrap">
    <div id="main-nav" class="">
        <div class="container">
            <div class="nav-header">
                <a class="nav-brand" href="/"><i class="icon-lime"></i>AXICOO BLOG</a>
                <a class="menu-link nav-icon" href="#"><i class="icon-menu2"></i></a>
                {{if .client_id}}
                    {{if .client.Pic}}
                        <img class="bordered img-circle pull-right head-img" alt="" src="{{ .client.Pic }}" height="40" width="40"/>
                    {{else}}
                        <img class="bordered img-circle pull-right head-img" alt="" src="{{ .client.HeadImg.ImgUrl }}" height="40" width="40"/>
                    {{end}}
                {{else}}
                    <a class="btn btn-blog outline-white pull-right" href="#" data-toggle="modal" data-target="#loginModal1">注册</a>
                    <a class="btn btn-blog outline-white pull-right" href="#" data-toggle="modal" data-target="#loginModal">登录</a>
                {{end}}
            </div>
        </div>
    </div>