{{template "home/header.html" .}}
			<section id="hero" class="light-typo">
				<div id="cover-image" class="image-bg animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						<h1>HELLO, I AM BIG LIGHT</h1>
						<h2><b>Axicoo.Com</b> Is My Blog</h2>
						<a class="btn smooth-scroll" href="#start">开始吧</a>
					</div>
				</div>
			</section>

			<div id="start" class="container content">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						{{range .articles}}
							<article class="clearfix">
								<div class="post-date">
									{{ .Created }} | <a href="/author/{{ .Client.Id }}">{{ .Client.Username }} </a> <span><a href="">{{ .CommentNum }} 条评论</a></span>
								</div>
								<h2><a href="/detail/{{ .Id }}">{{ .Title }}</a></h2>
								<p style="word-break: break-all;">{{ .Content }} ...&nbsp;<a class="" href="/detail/{{ .Id }}">阅读更多</a></p>
							</article>
						{{end}}
						<div class="post-popular">
							<div class="row hidden-xs">
								{{range  .hot}}
								<div class="col-sm-4 col-md-4">
									<a href="post-video.html"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
									<h4 class="text-center"><a href="post-video.html">{{ .Title}}</a></h4>
									<p class="post-date text-center">{{ .Created }}</p>
								</div>
								{{end}}
							</div>
						</div>

						<div class="paging clearfix">
							<a class="btn pull-left" href="#"><i class="icon-arrow-left2 left"></i><span>上一页</span></a>
							<a class="btn pull-right" href="#"><span class="hidden-xs"> 下一页</span><i class="icon-arrow-right2 right"></i></a>
						</div>

					</div>	
				</div><!-- end row -->
			</div>
{{template "home/footer.html" .}}