{{template "home/header.html" .}}
<section id="hero" class="light-typo">
				<div id="cover-image" class="image-bg3 animated fadeIn"></div>
				<div class="container welcome-content">
					<div class="middle-text">
						<h1>文章搜索</h1>
						<h2>{{ .search }}</h2>
					</div>
				</div>
			</section>

			<section id="breadcrumb">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<ol class="breadcrumb">
								<li><a href="/">首页</a></li>
								<li class="active">文章搜索</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<div class="search container content">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<form class="col-md-6 myform" onsubmit="return false;">
								<div class="input-group">
									<input id="home-search2" name="text" placeholder="输入搜索条件..." class="form-control input-lg" type="text" >
									<span class="input-group-btn">
										<button onclick="homeSearch2()" name="submit" type="submit" class="btn">搜索</button>
									</span>
								</div>
								<input type="hidden" name="submitted" id="submitted2" value="true">
							</form>
							<br>
						</div>
						<br>
						{{range .article_search}}
							<article class="clearfix">
								<div class="post-date">
									{{ .Created }} | <a href="/author/{{ .Client.Id }}">{{ .Client.Username }} </a> <span><a href="">{{ .CommentNum }} 条评论</a></span>
								</div>
								<h2><a href="/detail/{{ .Id }}">{{ .Title }}</a></h2>
								<p style="word-break: break-all;">{{ .Content }} ...&nbsp;<a class="" href="/detail/{{ .Id }}">阅读更多</a></p>
							</article>
						{{else}}
							<!-- <header class="section-header"> -->
							<h2>暂无文章</h2>
							<p>抱歉,暂时未搜索到符合条件的文章,请更换搜索条件...</p>
							<!-- </header> -->
						{{end}}

						<p class="clearfix"></p>
							<div class="post-popular">
								<div class="row hidden-xs">
									{{range  .hot}}
										<div class="col-sm-4 col-md-4">
											<a href="/detail/{{ .Id }}"><img src="{{ .Picture }}" class="img-responsive" alt="img2"></a>
											<h4 class="text-center"><a href="/detail/{{ .Id }}">{{ .Title}}</a></h4>
											<p class="post-date text-center">{{ .Created }}</p>
										</div>
									{{end}}
								</div>
							</div>
					</div>
				</div>
			</div>

{{template "home/footer.html" .}}